* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-size: cover;
  background-position: center;
  
}

#topDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
}

#todayDate{
  text-shadow: 1px 1px 2px #000;
  margin-left:4vw;
}

#weatherDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5vw;
  width: 13vw;
  background-color: rgba(249,249,249,0.7);
  padding: 12px;
  border-radius: 13%;
}

#bottomDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 45vh;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

#time{
  font-size: 6rem;
  margin:0;
}
#greeting{
  font-size: 3rem;
  margin:0;
  font-weight: 600;
}
#name{
  font-size: 3rem;
  margin:0;
  font-weight: 600;
}

#location{
  margin-bottom: 0;
  font-weight: bold;
}

#desc{
  margin-bottom:0;
  font-weight: bold;
}

#string{
  margin-bottom: 0;
  font-weight: bold;
}

#icon{
  width: 60px;
  height: 60px;
}

#todayDate{
  color:white;
}

form {
  margin-top: 6vh;
  width: 80vw;
  position: relative;
  max-width: 550px;
} 

label {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 1.6rem;
  transform: translate(0,0) scale(1);
  transition: transform .5s;
  color: #fff;
}

input:focus+label{
  transform: translate(-25px, -30px) scale(0.8);
  color: #fff;
}

input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 1.4rem;
  padding-bottom: 10px;
  background-color: transparent;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

input:focus {
  outline: none;
}